@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display');

.user-profile-wrapper{
    background-color:rgba(0, 0, 0, 0.15);
  /* background-color: rgba(76, 175, 80, 0.3); */
  margin: 1vw 20vw 3vw 20vw;
  padding: 1vw 0vw 1vw 0vw;
  text-align: center;
  font-family: 'Montserrat',  sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
  color: white;
  -webkit-box-shadow: inset 0px 0px 21px -7px rgba(0,0,0,0.47);
-moz-box-shadow: inset 0px 0px 21px -7px rgba(0,0,0,0.47);
box-shadow: inset 0px 0px 21px -7px rgba(0,0,0,0.47);
}
