.user-item {
    display: inline-grid;
    padding:3em;
    -webkit-box-shadow: 21px 10px 31px -4px rgba(0,0,0,0.17);
    -moz-box-shadow: 21px 10px 31px -4px rgba(0,0,0,0.17);
    box-shadow: 21px 10px 31px -4px rgba(0,0,0,0.17);
    margin:1em;
    background-color: #ededed;
    text-align:center;
    font-family: 'Raleway', sans-serif;
    color: #424242;
    transition: 0.3s;
}


.user-item:hover{
position: relative;
top:3px;
background-color: #dedede;
}
