@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.review{
  padding: 1em;
  b-webkit-box-shadow: 21px 10px 31px -4px rgba(0,0,0,0.17);
  -moz-box-shadow: 21px 10px 31px -4px rgba(0,0,0,0.17);
  box-shadow: 21px 10px 31px -4px rgba(0,0,0,0.17);
  background-color: #ededed;
  transition: 1s;
  font-family: Merriweather, Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #424242;
  transition: 0.3s;
  }

.review:hover{
position: relative;
top:3px;
background-color: #dedede;
}

.review-title a{
  color:#424242 ;
}

.review-content{
  line-height: 1.6em;
  font-family: 'Raleway', sans-serif;
}

.post-date{
  font-size: 0.8em;
  text-align: right;
  font-style: italic;
}
