.layout {
    margin: 20px;
}

#logo {
    width: 60px;

}

header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}

li a {
    text-decoration: none;
}

.home-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}