.search-bar-wrapper{

}

.search-bar{

font-size: 1.3vw;



}


#search-bar {
   padding-left: 1vw;
   padding-top: 0.2vw;
   padding-bottom: 0.2vw;
  -webkit-border-radius: 0.7vw;
-moz-border-radius: 0.7vw;
border-radius: 0.7vw;
 border: none;
}
