body {
  background-color: #8FAD88;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Futura, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
